@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-background-color: #FF8A80;
    --secondary-background-color: #67a2c9;
    --navbar-neutral-color: #303444;
    --test-col: #fffffff1;
}

body {
    overflow: hidden;
}

.primary-bg {
    background-color: var(--primary-background-color);
    color: black;
}

.transition-bg:hover {
    transition: var(--primary-background-color) 0.3s ease-in-out;
    background-color: #FF8A80;
    color: black;
}

.custom-btn-bg {
    background-color: var(--primary-background-color);
    border: none;
}

.custom-btn-bg-2 {
    background-color: var(--navbar-neutral-color);
    color: #fff;
    border: none;
}